.header {
  background-color: var(--white);
  padding-top: 25px;
}

.header_bg-gray {
  background-color: var(--gray-1);
}

@media screen and (max-width: 480px) {
  .header {
    padding: 17px 0 69px;
  }
}
