.header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: var(--main-text);
}

@media screen and (max-width: 480px) {
  .header-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--gray-4);
  }
}
