.tabs {
  background: var(--white);
}

.tabs__container {
  background-color: var(--gray-1);
}

.tabs__wrapper {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  padding: 68px 0 204px 0;
}

.tabls__scroller {
  display: flex;
  column-gap: 40px;
  max-width: 1110px;
  margin: 0 auto;
}

.tabs__input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.tabs__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-3);
  padding-bottom: 8px;
}

.tabs__input_all-components:checked
  ~ .tabls__scroller
  .tabs__label_all-components,
.tabs__input_elements:checked ~ .tabls__scroller .tabs__label_elements,
.tabs__input_containers:checked ~ .tabls__scroller .tabs__label_containers,
.tabs__input_templates:checked ~ .tabls__scroller .tabs__label_templates {
  color: var(--black);
  border-bottom: 5px solid var(--black);
}

.tabs_.tabs__container,
.tabs__input_containers:checked ~ .tabs__container .tabs__content,
.tabs__input_elements:checked ~ .tabs__container .tabs__content,
.tabs__input_templates:checked ~ .tabs__container .tabs__content {
  display: none;
}

.tabs__input_all-components:checked ~ .tabs__container .tabs__content {
  display: block;
}

.tabs__input_containers:checked ~ .tabs__container .tabs__content_containers {
  display: block;
}

.tabs__input_elements:checked ~ .tabs__container .tabs__content_elements {
  display: block;
}

.tabs__input_templates:checked ~ .tabs__container .tabs__content_templates {
  display: block;
}

@media screen and (max-width: 480px) {
  .tabls__scroller {
    display: none;
  }

  .tabs__wrapper {
    gap: 16px;
    padding: 22px 0 133px;
  }
}
