.card {
  width: 350px;
  height: 367px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px var(--black);
  border-radius: 12px;
  position: relative;
}

.card__content {
  position: relative;
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.card__checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 37px;
  height: 116px;
  align-content: center;
}

.card__description {
  position: absolute;
  left: 50%;
  bottom: 38px;
  transform: translateX(-50%);
  width: 100%;
}

.card__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
}

.card__title_little {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 480px) {
  .card {
    width: 164px;
    height: 210px;
  }

  .card__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 41px;
    border-top: 1px solid var(--gray-2);
  }
}
