.component {
  background: var(--gray-1);
  padding-top: 36px;
  padding-bottom: 165px;
}

.component__checkbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 37px;
  height: 116px;
  align-content: left;
  width: 400px
}

.component__description {
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
}

.component__view {
  padding-top: 32px;
  padding-left: 48px;
  height: 345px;
}

.component__container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  column-gap: 56px;
  grid-template-areas: 'sidebar info';
}

.component__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--gray-4);
  margin-bottom: 58px;
}

@media screen and (max-width: 480px) {
  .component__container {
    column-gap: 0;
  }

  .component__sidebar {
    display: none;
  }

  .component__description {
    grid-column-start: 2;
  }

  .component__title {
    color: var(--gray-4);
  }
}
