.text-input {
  border: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.text-input__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--gray-3);
}

.text-input__area {
  position: relative;
}

.text-input__input {
  outline: none;
  box-sizing: border-box;
  width: 350px;
  height: 56px;
  background: var(--white);
  border: 1px solid var(--gray-2);
  border-radius: 8px;
  padding: 17px 45px 17px 24px;
}

.text-input__input:disabled {
  background: var(--gray-1);
}

.text-input__input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--gray-2);
}

.text-input__input:focus {
  border-color: var(--primary);
  box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.text-input__icon {
  display: none;
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.text-input__icon_success {
  width: 20px;
  height: 20px;
  color: #374fc7;
}

.text-input__icon_invalid {
  width: 24px;
  height: 24px;
  color: var(--red);
}

.text-input_invalid .text-input__input,
.text-input_invalid .text-input__input:focus {
  border-color: var(--red);
  box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
}

.text-input_invalid .text-input__icon_invalid {
  display: inline;
}

.text-input_success .text-input__icon_success {
  display: inline;
}
